.el-input-group__append, .el-input-group__prepend,.el-input__inner{
    background-color: #00000099 !important;
    color: #eeeeee;
}
.el-input-group__prepend{
    padding: 0 !important;
}
.el-menu.el-menu--horizontal{
    border-bottom: none;
}
.el-input-group__append, .el-input-group__prepend,.el-input__inner{
    border-color: #333333;
}

