.home .search-logo{
    height: 34px;
}
.home .home-content{
    margin-top: 5px;
}
.link-container{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
.type-title{
    width: 120px;
    text-align: center;
    line-height: 60px;
    color: #eeeeee;
    font-size: 18px;
}
.link-type-container{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 120px)
}
.link-item{
    width: 140px;
    height: 40px;
    color: #409EFF;
    user-select: none;
    line-height: 40px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    text-indent: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin: 10px 10px;
}
.link-item .icon{
    margin-left: 5px;
    width: 28px;
}
.link-item:hover{
    background-color: #00000099;
}
.link-item .link-title{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
